[Desktop Entry]
Type=Application
Name=LT start service
GenericName=LanguageTool start service
X-GNOME-FullName=LanguageTool start service
Exec=/bin/sh -c "/usr/bin/systemctl is-active --user --quiet docker-languagetool.service || { /usr/bin/systemctl --user start docker-languagetool.service && zenity --notification --window-icon=lt_symbol_boxed_white --text 'LanguageTool service started'; }"
Icon=lt_symbol_boxed_white
Terminal=false
Categories=Network;GTK;
